// Place all the styles related to the portals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.destroyed {
	color: #EEEEEE;
	background-color: #666666;
}
.destroyed a {
	color: orange;
}